target/classes/ms3-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_1" host="0.0.0.0" port="8081" basePath="/ms3" doc:name="HTTP Listener Configuration"/>
    <flow name="ms3-api">
        <http:listener config-ref="HTTP_Listener_1" path="/api" doc:name="HTTP"/>
        <logger message="Query Parameters: #[message.inboundProperties['http.query.params']]" level="INFO" doc:name="Logger"/>
        <component class="org.jrusso.convert.Converter" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="ms3-html">
        <http:listener config-ref="HTTP_Listener_1" path="/html" doc:name="HTTP" allowedMethods="GET">
            <http:response-builder>
                <http:header headerName="content-type" value="text/html"/>
            </http:response-builder>
        </http:listener>
        <logger message="Query Parameters: #[message.inboundProperties['http.query.params']]" level="INFO" doc:name="Logger"/>
        <component class="org.jrusso.convert.Converter" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <parse-template location="./src/main/resources/web/converter.html" doc:name="Parse Template"/>
    </flow>
</mule>
